h1.nav{

    height: 50px;
     text-align: center; 
     margin: 0 auto;
     
     
}

.center {
    background-color:#7ad7f0;
    display: flex;
    justify-content: center;
  }
.nav{

    background-color:#7ad7f0;
}
.nav-link{

    color:#b99976;
}
.image{
    width: 100%;
}

.header{
    top: 0;
       left: 0;
       position: fixed;
       z-index: 3000;
       width: 100%;

}
