<div class="header">
  <div class="left">
    <h1 class="nav" style="background-color: black; color: white">
      HT Hospitals
    </h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Welcome</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="active"><a class="nav-link" routerLink="/home">Home</a></li>
        <li><a class="nav-link" routerLink="/docters">Doctors Information</a></li>
        <li><a class="nav-link" routerLink="/patients">Patient Information</a></li>
        <li><a class="nav-link" routerLink="/doctor-signup">Doctor Register</a></li>
        <li><a class="nav-link" routerLink="/patient-signup">Patient Register</a></li>
    </div>
  </div>
  </nav>
<img src="assets/med.jpg" style="width:100%">
<div class="container">

  <div style="position:absolute;top:40%;left:30%;transform:translate(-50%,-50%);">
    <h1>Welcome to HT Hospitals</h1><br />
     <h3>Bangalore | Mumbai | Chennai | Delhi</h3>
  </div>
</div>
 </div>
