<div class="header">
  <div class="left">
    <h1 class="nav" style="background-color: black; color: white">
      HT Hospitals
    </h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Welcome</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="active"><a class="nav-link" routerLink="/home">Home</a></li>
        <li><a class="nav-link" routerLink="/docters">Doctors Information</a></li>
        <li><a class="nav-link" routerLink="/patients">Patient Information</a></li>
        <li><a class="nav-link" routerLink="/doctor-signup">Doctor Register</a></li>
        <li><a class="nav-link" routerLink="/patient-signup">Patient Register</a></li>
    </div>
  </div>
  </nav>
  <section class="vh-100 gradient-custom">
          
<!-- <form [formGroup]="form" (ngSubmit)="submit()">   -->
         
    <div class="form-group">  
        <label for="doctor" style="color: blue;">Select the Doctor's name for Information</label>  
        <select [(ngModel)]="selectedDoctor" class="form-control">  
            <option *ngFor="let doct of allDoctors" [ngValue]="doct">{{doct.name}}</option> 
        </select>  
    </div>  
    <button class="btn btn-primary" type="submit" (click)="submit()" >Submit</button>  
<!-- </form>   -->

<div class = "container">
  <div class = "row col-lg-12 col-sm-12">
      <table class = "table">
          <thead  class="table-dark">
              <tr>
                  <th>Doctors_Name</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Specialist_field</th>
                  <th>Number Of Patient Attened</th>
              </tr>
          </thead>
          <tbody>
            <tr>
                  <td>{{doctor.name}}</td>
                  <td>{{doctor.age}}</td>
                  <td>{{doctor.gender}}</td>
                  <td>{{doctor.specialistField}}</td>
                  <td>{{doctor.numberOfPatientAttended}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

</section>